[submodule "ccu/yowsup"]
	path = ccu/yowsup
	url = git@github.com:tgalal/yowsup.git
[submodule "ccu/webframe"]
	path = ccu/webframe
	url = https://github.com/kensonman/webframe.git
[submodule "gateway.tg/webframe"]
	path = gateway.tg/webframe
	url = https://github.com/kensonman/webframe.git
