[submodule "ccu/yowsup"]
	path = ccu/yowsup
	url = git@github.com:tgalal/yowsup.git
[submodule "ccu/tg"]
	path = gateway.tg/cli
	url = https://github.com/vysheng/tg.git
[submodule "gateway.tg/bot"]
	path = gateway.tg/bot
	url = https://github.com/python-telegram-bot/python-telegram-bot.git
