{%extends TMPL_BASE%}{%load method_override%}

{%block title%}Register new appliance - IMC Smart Home{%endblock%}

{%block scripts%}{{block.super}}
<style type="text/css">
.field-search {display: none;}
.field-search .title{ padding: 5px; background-color:gray; color:white; }
.field-search .data{padding: 20px; }
</style>
<script type="text/javascript"><!--
var selectAppliance=function(){
	var ipaddr=$('input[name=appliance]:checked').val();
	$('#ipaddrFld').val(ipaddr);
};
var scanappliances=function(){
	$('.field-search').show()
		.find('.data').html('<i class="fa fa-spinner fa-spin"></i> Searching the available appliances, it may take a few minutes...').end();
	jQuery.ajax('{{ABSOLUTE_PATH}}appliances/search/', {dataType: 'json', context: $('.field-search .data'), success: function(data){
		$(this).empty();
		jQuery.each(data, function(k, v){
			$('.field-search .data').append('<div class="input-group">'+
				'<span class="input-group-addon"><input type="radio" name="appliance" value="'+v.IPAddr+'" id="appliance_'+k+'"/></span>'+
				'<label for="appliance_'+k+'" class="form-control">'+v.Name+' ['+v.IPAddr+'] </label>'+
			'</div>');
		});
		
		$(this).append('<div class="pnl-btns"><a class="btn btn-default" href="#" id="rescanBtn">Rescan appliances</a><div>');
		$(this)
			.find('#rescanBtn').click(scanappliances).end()
			.find('input[name=appliance]').change(selectAppliance).end()
		;
	}});
};
var resignAppliance=function(){
	$("#applianceFrm").find('input[name=_method]').val('DELETE').end().submit();
};
$(document).ready(function(){
	$('#resignBtn').click(resignAppliance);
});
//--></script>
{%endblock%}

{%block content%}<div id="pnl_content" class="pnl-content jumbotron">
<div class="pnl-padding">
	<h1>{%if aid == 'new'%}Register new{%else%}Update{%endif%} appliance</h1>

	<form method="POST" id="applianceFrm">
		{%csrf_token%}
		<input type="hidden" name="_method" value="POST"/>
		<input type="hidden" name="id" value="{{cmd.id}}"/>
		{%if aid == 'new'%}<div class="field">
			<div class="input-group">
				<span class="input-group-addon"><input type="radio" name="method" value="search" id="method_search"/></span>
				<label for="method_search" class="form-control">Search for appliance</label>
			</div>
			<div class="input-group">
				<span class="input-group-addon"><input type="radio" name="method" value="manual" id="method_manual"/></span>
				<label for="method_manual" class="form-control">Manual Input</label>
			</div>
<script type="text/javascript"><!--
$(document).ready(function(){
	$('input[name=method]').change(function(){
		var val=$('input[name=method]:checked').val();
		if(val=='manual'){
			$('.field-addr').show();
			$('.field-search').hide();
		}else{
			$('.field-addr').hide();
			scanappliances();
		}
	});
	$('.field-addr').hide();
	$('.field-search').hide();
});
//--></script>
		</div>{%endif%}

		<div class="field field-addr">
			<label for="ipaddrFld">Appliance IP Address:</label>
			<input type="text" name="ipaddr" id="ipaddrFld" class="form-control" value="{{cmd.ipaddr|default:''}}"/>
		</div>

		<div class="field field-search panel">
			<div class="title">Available List</div>
			<div class="data"></div>
		</div>

		<div class="field">
			<label for="portFld">Appliance Port:</label>
			<input type="text" name="port" id="portFld" class="form-control" value="{{cmd.port|default:'9876'}}" placeholder="Default is 9876"/>
		</div>

		<div class="field">
			<label for="nameFld">Appliance Name:</label>
			<input type="text" name="name" id="nameFld" class="form-control" value="{{cmd.name|default:''}}"/>
		</div>

		<div class="field">
			<label for="locFld">Appliance Location:</label>
			<input type="text" name="loc" id="locFld" class="form-control" value="{{cmd.location|default:''}}"/>
		</div>

		{%if aid != 'new'%}<div class="field">
			<label for="scFld">Secure Code (It usuall printed on your appliance):</label>
			<input type="text" name="securecode" id="scFld" class="form-control"/>
		</div>{%endif%}
			
		<div class="pnl-btns">
			{%if aid != 'new'%}<button type="button" class="btn btn-danger" id="resignBtn">Resign</button>{%endif%}
			<button type="submit" class="btn btn-success">{%if aid == 'new'%}Register{%else%}Update{%endif%}</button>
			<button type="reset" class="btn btn-warning">Reset</button>
		</div>
	</form>
</div>
</div>{%endblock%}
